@using NineMuses.ViewModels
@model ViewVideoViewModel
@{
    ViewBag.Title = Model.Video != null ? Model.Video.Title : "Video Not Found";
}
@if (Model.Video == null)
{
    <h1>Video Not Found</h1>
}
else
{
    <video class="video" controls>
        <source src="@(Model.Video.Source)" type="video/mp4"/>
        Your browser does not support the video format.
    </video>
}

@*<script>
    function addView() {

        alert("The video started playing");
        
    }
</script>*@