.fw {
    width: 100% !important;
}

.txt-ac{
    text-align:center !important;
}

.border-bottom-p10 {
    padding-bottom: 10px !important;
    border-bottom: 1px solid #cdcdcd !important;
}

.f-color-grey{
    color: #cdcdcd !important;
}

.bg-col-grey {
    background-color: #f6f6f6 !important;
    width:100%;
}

.pad-5 {
    padding: 5px !important;
}

.pad-5-l {
    padding-left: 5px !important;
}

.pad-5-r {
    padding-right: 5px !important;
}

.pad-5-t {
    padding-top: 5px !important;
}

.pad-5-b {
    padding-bottom: 5px !important;
}

.pad-10 {
    padding: 10px !important;
}

.pad-10-l {
    padding-left: 10px !important;
}

.pad-10-r {
    padding-right: 10px !important;
}

.pad-10-t {
    padding-top: 10px !important;
}

.pad-10-b {
    padding-bottom: 10px !important;
}

.pad-20 {
    padding: 20px !important;
}

.pad-20-l {
    padding-left: 20px !important;
}

.pad-20-r {
    padding-right: 20px !important;
}

.pad-20-t {
    padding-top: 20px !important;
}

.pad-20-b {
    padding-bottom: 20px !important;
}

.pad-40 {
    padding: 40px !important;
}

.pad-40-l {
    padding-left: 40px !important;
}

.pad-40-r {
    padding-right: 40px !important;
}

.pad-40-t {
    padding-top: 40px !important;
}

.pad-40-b {
    padding-bottom: 40px !important;
}

.mar-5 {
    margin: 5px !important;
}

.mar-5-l {
    margin-left: 5px !important;
}

.mar-5-r {
    margin-right: 5px !important;
}

.mar-5-t {
    margin-top: 5px !important;
}

.mar-5-b {
    margin-bottom: 5px !important;
}

.mar-10 {
    margin: 10px !important;
}

.mar-10-l {
    margin-left: 10px !important;
}

.mar-10-r {
    margin-right: 10px !important;
}

.mar-10-t {
    margin-top: 10px !important;
}

.mar-10-b {
    margin-bottom: 10px !important;
}

.mar-20 {
    margin: 20px !important;
}

.mar-20-l {
    margin-left: 20px !important;
}

.mar-20-r {
    margin-right: 20px !important;
}

.mar-20-t {
    margin-top: 20px !important;
}

.mar-20-b {
    margin-bottom: 20px !important;
}

.mar-40 {
    margin: 40px !important;
}

.mar-40-l {
    margin-left: 40px !important;
}

.mar-40-r {
    margin-right: 40px !important;
}

.mar-40-t {
    margin-top: 40px !important;
}

.mar-40-b {
    margin-bottom: 40px !important;
}