.form-wallpaper{
    display:flex;
    justify-content:center;
    background-image:url(/Media/formwallpaper.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    height:600px;
}

.form-wrapper {
    height: 400px;
    display: inline-block;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

    .form-wrapper a {
        text-decoration: none;
    }

    .form-wrapper h1 {
        top: 0;
        color: #1d3557;
        text-decoration: underline;
    }

.form-column {
}

.form-column input[type="text"], .form-column input[type="password"]{
    width:300px;
    padding:5px;
}

    .form-column input[type="submit"] {
        width: 300px;
        cursor: pointer;
        display: inline-block;
        padding: 15px;
        background-color: #1d3557;
        border: 0;
        border-radius: 10px;
        font-weight: bold;
        color: white;
        font-size: 16px;
    }

        .form-column input[type="submit"]:hover {
            background-color: #4075bf;
            text-decoration: underline;
        }

.form-row.signUp a {
    color: #1d3557;
}

.form-row.signUp a:hover{
    text-decoration:underline;
}

.form-row.error li {
    list-style: none;
    color: red;
}

