
.search-list {
    list-style: none;
    margin-left: 10px;
}

    .search-item:hover {
        background-color: #f1faee;
    }


    .search-item img {
        width: 250px;
        object-fit: fill;
        height: 100%;
    }

    .search-item a {
        padding: 10px;
        display: block;
        text-decoration: none;
        color: black;
    }

.search-item-div {
    display: flex;
}

.search-item-info {
    width: 100%;
}

.search-item-info a {
    padding-left:10px;
}

.search-item-info a:hover {
    opacity: 0.7;
}

.search-item-user {
    font-weight: bold;
    color: #1d3557 !important;
}

.search-item-user:hover {
    text-decoration: underline;
}




