@{
    ViewBag.Title = "Nine Muses";
}
@Styles.Render("~/Content/Css")

<h1 class="gridbox-title">Most Viewed</h1>

<div class="gridbox big">

    <div class="grid-item">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag">testuser</p>
    </div>

    <div class="grid-item">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

</div>

<h1 class="gridbox-title  mar-20-t">Most Recent Uploads</h1>

<div class="gridbox small">

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

    <div class="grid-item pad-40-r pad-40-l">
        <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
        <h1 class="video-title ellipsis">test title test title</h1>
        <p class="usertag ellipsis">testuser</p>
    </div>

</div>


