@{
    ViewBag.Title = "Nine Muses";
}

<h1 class="gridbox-title">Most Viewed Video</h1>

<div class="gridbox big">

    @{
        for (int i = 0; i < 4; i++)
        {
            <div class="grid-item">
                <a href="#">
                    <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
                    <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title<br /></h1>
                </a>

                <a href="#">
                    <p class="usertag ellipsis">testuser</p>
                </a>
            </div>
        }
    }

</div>

<h1 class="gridbox-title  mar-20-t">Most Recent Uploads</h1>

<div class="gridbox small">

    @{
        for (int i = 0; i < 4; i++)
        {

            <div class="grid-item pad-40-r pad-40-l">
                <a href="#">
                    <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
                    <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title<br /></h1>
                </a>

                <a href="#">
                    <p class="usertag ellipsis">testuser</p>
                </a>
            </div>

        }
    }

</div>

<h1 class="gridbox-title  mar-20-t">Most Liked Videos</h1>

<div class="gridbox small">

    @{
        for (int i = 0; i < 4; i++)
        {

            <div class="grid-item pad-40-r pad-40-l">
                <a href="#">
                    <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
                    <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title<br /></h1>
                </a>

                <a href="#">
                    <p class="usertag ellipsis">testuser</p>
                </a>
            </div>

        }
    }

</div>

<h1 class="gridbox-title  mar-20-t">Most Disliked Video</h1>

<div class="gridbox small">

    @{
        for (int i = 0; i < 4; i++)
        {

            <div class="grid-item pad-40-r pad-40-l">
                <a href="#">
                    <img src="~/Media/testvideoimg.jpg" class="video-thumbnail" />
                    <h1 class="video-title ellipsis">test title testsdsdsdsdsdsd title<br /></h1>
                </a>

                <a href="#">
                    <p class="usertag ellipsis">testuser</p>
                </a>
            </div>

        }
    }

</div>


